---
layout: default
title: Wyrd Distro
id: home
---

<div id="index" class="container">
	<div class="homeFeature">
		<article>
			<div class="homeFeatureMedia"><a href="release-03.html"><img src="images/postImage2.jpg"></a></div>
		</article>
	</div>
	<div class="searchBox">
		<form action="" class="row">
			<label for="search">Find Something:</label>
			<input type="text" name="search" value="" id="search" placeholder="Artist/Title/Label/Location/Whatever">
		</form>
	</div>
	<section class="releaseList gridBlock">
		<h1>Featured Releases</h1>
		<a href="list.html" class="linkList">See All &raquo;</a>
		<div class="row">
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
			<article class="releaseContent col-md-3">
					{% include releaseHead.html %}
			</article>
		</div>
	</section>
</div>
	
