	<h1>Browse</h1>
	<ul>
		<li><a href="list.html">Featured</a></li>
		<li><a href="list.html">New Releases</a></li>
		<li><a href="list.html">Staff Picks</a></li>
		<li><a href="category.html">Labels</a></li>
		<li class="regionNav"><a href="list.html">Region</a>
			<ul>
				<li><a href="#">Alberta</a></li>
				<li><a href="#">British Columbia</a></li>
				<li><a href="#">Manitoba</a></li>
				<li><a href="#">New Brunswick</a></li>
				<li><a href="#">Newfoundland</a></li>
				<li><a href="#">North West Territories</a></li>
				<li><a href="#">Nova Scotia</a></li>
				<li><a href="#">Nunavut</a></li>
				<li><a href="#">Ontario</a></li>
				<li><a href="#">Prince Edward Island</a></li>
				<li><a href="#">Quebec</a></li>
				<li><a href="#">Saskatchewan</a></li>
				<li><a href="#">Yukon</a></li>
			</ul>
		</li>
		<li><a href="list.html">Random</a></li>
	</ul>
	<div class="searchBox"><form action=""><label for="search">Search</label><input type="text" name="search" value="" id="search" placeholder="Artist/title/etc"></form></div>