<div class="postMeta col-md-2">
	<div class="postCredits">
		<p class="postAuthor">From the Hollywood garbage dump of <strong>Jesse Locke</strong></p>
		<p class="postDate"><strong>Posted:</strong> September 11, 2013</p>
	</div>
	<div class="socialBlock">
		<ul>
			<li class="socialTw"><a href="#">Share this on Twitter</a></li>
			<li class="socialFb"><a href="#">Like this on Facebook</a></li>
		</ul>
	</div>
	<div class="comments">	
		<h2>Comments</h2>
		<div class="commentList">
			<div class="commentBlock">
				<div class="commentAuthor">
					<a href="#" class="commentAuthorLink">Stefan Duret</a>
				</div>
				<div class="commentNote">
					<p>I really like this record, it's cool</p>
				</div>
				<div class="commentMeta">
					<p>Posted October 10, 2012</p>
				</div>
			</div>
			<div class="commentBlock">
				<div class="commentAuthor">
					<a href="#" class="commentAuthorLink">Bryan Birtles</a>
				</div>
				<div class="commentNote">
					<p>Sounds better than the last one. Sounds better than the last one. Creative expression by any means necessary. </p>
				</div>
				<div class="commentMeta">
					<p>Posted October 11, 2012</p>
				</div>
			</div>
		</div>
		<div class="commentReply">
			<div class="commentReplyEditor">
				Leave a reply
			</div>
			<!-- <div class="commentReplyButtons">
				<button class="btn" data-action="save-reply" data-action-value="">Save</button><button class="btn" data-action="cancel-reply" data-action-value="">Cancel</button>
			</div> -->
		</div>
	</div>
</div>