---
layout: default
id: post
---
<!-- <p class="meta">{{ page.date | date_to_string }}</p> -->

<section id="post" class="container reviewPost">
	<article>
		<div class="postMedia col-md-4">
			<img src="{{ post.featured-image }}" alt="{{ post.featured-image-alt }}" width="300" height="300" />
			<div class="row postImageThumbs">
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
				<a href="#"><img src="/images/postImage.jpg"></a>
			</div>
			<div class=" row postMediaPlayer">
				Audio Player
			</div>
		</div>
		<div class="postContent col-md-6">
			<div class="articleHead">
				<p class="postType"><a href="#">Music</a></p>
				<h1>{{ page.title }}</h1>
				<h2>Secondary title</h2>
			</div>
			
			{{ content }}
			
			<div class="postLinks row">
				<div class="col-md-4">
					<h2>Details</h2>
					<ul>
						<li>Label: <a href="#">Something</a></li>
						<li>Format: <a href="#">Something</a></li>
						<li>Band Origin: <a href="#">Something</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2>Tags</h2>
					<p><a href="#">7", 90s, cascadia, cascadia - level trust, christopher laramee, cruising usa, grunge, indie, rock, shoegaze, vancouver, vinyl</a></p>
				</div>
				<div class="col-md-4">
					<h2>Details</h2>
					<p>7", british columbia, New Canadiana.</p>
					<h2 class="buy"><a href="#">Buy this Record</a></h2>
				</div>
			</div>
		</div>
		{% include postMeta.html %}
	</article>
</section>

<div class="postFooter ">
	<div class="container">
			<div class="row">
			<h2 class="col-md-2">More Like This</h2>
			<div class="relatedBig col-md-4">
				<h1>Post Title</h1>
				<h2>Secondary title</h2>
				<p>Trapped within the ephemeral “top five dead or alive desert island nascent garage punk singles of Canada,” few compete</p>
			</div>
			<ul class="col-md-3">
				<li>Cascadia — Level Trust</li>
	  			<li>Bernice – When I Know How To Climb</li>
	  			<li>Zale to Infinity – Songs From My Bedroom</li>
	  			<li>Cascadia — Level Trust</li>
	  			<li>Bernice – When I Know How To Climb</li>
			</ul>
			<ul class="col-md-3">
				<li>Cascadia — Level Trust</li>
	  			<li>Bernice – When I Know How To Climb</li>
	  			<li>Zale to Infinity – Songs From My Bedroom</li>
	  			<li>Cascadia — Level Trust</li>
	  			<li>Bernice – When I Know How To Climb</li>
			</ul>
		</div>
	</div>
</div>